* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html, body {
	overflow-x: hidden;
	font-family: $font-default;
	width: 100%;
	position: relative;
	font-size: 14px;
}

%clearfix {
	&::before, &::after {
		content: '';
		display: table;
	}
	&::after {
		clear: both;
	}
}

.sr-only {
	@include visually-hidden;
}

@each $colors-name in $site-colors {
	$name: nth($colors-name, 1);
	$color: nth($colors-name, 2);
	.bg-#{$name} {
		background-color: $color;
	}
	.color-#{$name} {
		color: $color;
	}
}