.area-section {
	padding: 120px 0 85px;

	.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	@media (max-width: $breakpointSmall) {
		padding: 30px 0 50px;

		.uk-container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.area-inner {
	@media (max-width: $breakpointLarge) {
		>.uk-flex:first-of-type {
			flex-direction: column;
		}
	}

	@media (max-width: $breakpointSmall) {
		>.uk-flex {
			flex-direction: column;

			&:first-of-type {
				>.uk-flex {
					flex-direction: column;
				}
			}
		}
	}
}

.area-card--full,
.area-card--half {
	padding: 5px;

	@media (max-width: $breakpointSmall) {
		padding: 5px 0;
	}
}

.area-card--inner {
	position: relative;

	>a {
		position: absolute;
		opacity: 0;
		background: rgba($black, .2);
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
		transition: $nbSec ease-in-out;

		@include hover {
			opacity: 1;

			~.area-bottom .uk-icon-button::after {
				transform: scale(1.5);
			}
		}
	}
}

.area-card--full {
	.area-card--inner {
		min-height: 610px;
	}

	@media (max-width: $breakpointSmall) {
		.area-card--inner {
			min-height: 300px;
		}
	}
}

.area-card--half {
	.area-card--inner {
		min-height: 300px;
	}

	.area-card--inner-empty {
		.area-bottom {
			padding: 0 20px 55px;
		}
	}

	@media (max-width: $breakpointLarge) {
		.area-card--inner-empty {
			min-height: 200px;

			.area-bottom {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 0 20px 20px;
			}
		}
	}

	@media (max-width: $breakpointMedium) {
		.area-card--inner-empty {
			.area-bottom {
				flex-direction: column;
			}
		}
	}
}

.area-btn--wrap {
	@media (max-width: $breakpointLarge) {
		.uk-button {
			float: right;
			margin-top: 30px;
		}
	}

	@media (max-width: $breakpointMedium) {
		.uk-button {
			float: none;
			width: 60%;
		}
	}
}

.area-item {
	min-height: calc(100% / 2);
}

.area-bottom {
	width: 100%;
	position: relative;
	z-index: 3;
	padding: 10px 20px 55px;
	pointer-events: none;

	span {
		color: $white;
		display: block;
		margin-bottom: 25px;
		font-weight: $semi-bold;
		font-size: 24px;
	}

	>.uk-icon-button {
		background: $midblue;
		color: $white;
		position: relative;

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 50px;
			background: rgba($midblue, .6);
			content: '';
			transition: $nbSec ease-in-out;
			z-index: 2;
		}
	}
	span,
	button {
		display: block;
	}

	button svg {
		width: 30px;
		color: $white;
		z-index: 3;
		position: relative;
	}
}

.area-card--text {
	.area-bottom {
		pointer-events: auto;
	}
}

