.header {
	position: relative;

	.uk-container {
		padding: 5px 0 2px;
	}

	.uk-logo img {
		max-width: 180px;
	}

	.uk-navbar {
		position: static;
	}

	.uk-navbar-item {
		justify-content: left;
	}

	.nav-link {
		color: $black;
		border-top: 5px solid transparent;
		text-transform: initial;
		font-size: 16px;
		font-family: $font-default;
		font-weight: $medium;
		transition: $nbSec ease-in-out;

		@include hover {
			background: $lightblue;
			border-color: $skyblue;
			color: $midblue;
		}
	}

	.uk-button:first-of-type {
		margin-bottom: 5px;
	}

	.uk-parent {

		>a,
		button {
			padding: 10px 20px;
		}
	}

	.uk-navbar-toggle {
		color: $black;
		position: absolute;
		right: 0;
		top: 0;
		height: calc(100% + 2px);
		border-left: 1px solid transparent;
		z-index: 3;
	}

	.uk-navbar-toggle--active {
		border-left: 1px solid $skyblue;

		&::after {
			position: absolute;
			background: $white;
			content: '';
			width: calc(100% + 1px);
			left: -1px;
			bottom: -8px;
			height: 10px;
		}
	}

	@media (max-width: $breakpointLarge) {
		.uk-navbar-nav {
			padding: 10px;
		}

		.uk-logo img {
			max-width: 130px;
		}

		.uk-parent>a {
			text-align: left;
			width: 100%;
			display: block;
			min-height: 0;
		}

		.uk-parent {

			>a,
			button {
				padding: 10px;
			}
		}

		.uk-navbar-dropdown {
			padding: 5px;

			li {
				position: relative;

				&:not(:last-of-type) {
					border-bottom: 1px solid $lightblue;
				}

				a {
					padding: 10px 5px;
					color: $black;
				}

				span {
					position: absolute;
					right: 15px;
					color: $skyblue;
				}
			}
		}

		.dropdown--active {
			position: relative;

			&::after {
				position: absolute;
				bottom: -14px;
				width: 100%;
				content: '';
				left: 0;
				height: 5px;
				background: $midblue;
			}

			button {
				color: $midblue;
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-logo img {
			max-width: 125px;
		}

		.uk-navbar-nav {
			display: none;
			border-top: 1px solid $skyblue;
			position: absolute;
			left: 0;
			top: 88px;
			background: $white;
			padding: 10px 0;
			width: 100%;
			z-index: 2;
		}

		.navbar-contact {
			position: relative;
			padding: 35px 20px;
			background: $softblue;

			a {
				display: inline-block;
				color: $midblue;
				text-align: left;
				padding: 0;
				min-height: 0;
				width: 100%;

				span {
					position: absolute;
					right: 0;
					border-left: 1px solid $midblue;
					top: 0;
					width: 60px;
					height: 100%;
					background: $lightblue;
					z-index: 1;

					&::before {
						position: absolute;
						transform: translate(-50%, -50%) rotate(265deg);
						top: 50%;
						left: 50%;
						z-index: 1;
						width: 30px;
						font-size: 24px;
					}
				}
			}
		}
	}
}

.nav-parent--sub {
	@media (max-width: $breakpointLarge) {
		display: none;
	}

	@media (max-width: $breakpointSmall) {
		display: block;
	}
}

.nav-parent--last {
	@media (max-width: $breakpointSmall) {
		display: none;
	}
}
