.hotels-top {
	background: $lightblue;
	border-bottom: 1px solid $skyblue;
	padding: 70px 0 60px;

	h2,
	span {
		color: $midblue;
		margin-bottom: 15px;
	}

	h2 {
		font-weight: 400;
	}

	span {
		color: $grey;
		font-weight: $light;
		font-size: 20px;
		display: block;
	}

	.uk-button {
		padding: 0 15px;
		line-height: 26px;
	}

	@media (max-width: $breakpointSmall) {
		padding: 35px 0 30px;

		h2 {
			font-size: 30px;
			margin-bottom: 10px;
		}

		span {
			font-size: 18px;
		}
	}
}

.hotels-main {
	padding: 50px 0 0;

	@media (max-width: $breakpointLarge) {
		padding: 40px 0;
	}

	@media (max-width: $breakpointSmall) {
		padding: 25px 0;

		.uk-container .uk-flex-between {
			flex-direction: column;
		}
	}
}

.hotels-text-wrap {
	width: 65%;

	@media (max-width: $breakpointLarge) {
		width: 53%;
	}

	@media (max-width: $breakpointMedium) {
		width: 49%;
	}

	@media (max-width: $breakpointSmall) {
		width: 100%;
	}
}

.hotels-text {
	border: 1px solid $skyblue;
	border-radius: 3px;
	padding: 60px 50px 80px;

	p {
		margin-bottom: 40px;

		&:first-of-type {
			color: $black;
		}

		&:not(:first-of-type) {
			font-size: 18px;
			font-weight: $light;
		}
	}

	@media (max-width: $breakpointLarge) {
		padding: 0;
		border: 0;
	}

	@media (max-width: $breakpointSmall) {
		p {
			margin-bottom: 25px;
		}
	}
}

.hotels-contact-wrap {
	width: 32%;
	margin-top: -250px;
	z-index: 1;

	@media (max-width: $breakpointLarge) {
		margin-top: -100px;
		width: 37%;
	}

	@media (max-width: $breakpointMedium) {
		width: 47%;
	}

	@media (max-width: $breakpointSmall) {
		width: 100%;
		margin-top: 0;
	}
}

.hotels-contact {
	border: 1px solid $skyblue;
	border-radius: 3px;
	margin-bottom: 40px;
	padding: 40px 30px 50px;
	background: $white;

	img {
		width: 150px;
		margin-bottom: 30px;
	}

	.h4 {
		color: $midblue;
		display: block;
		margin-bottom: 15px;
	}

	.hotels-contact__item {
		margin-bottom: 25px;

		span:not(.h4) {
			display: block;
			margin-bottom: 5px;
			font-size: 16px;
		}

		span:not(.uk-text-strong),
		a,
		p {
			font-weight: $light;
		}

		.uk-text-strong {
			font-weight: $medium;
			margin-right: 5px;
		}

		>div {
			margin-bottom: 7px;
		}

		.tel {
			color: $dark-grey;
		}

		.email {
			color: $midblue;
		}
	}
	@media (max-width: $breakpointSmall) {
		padding: 40px 30px 15px;
		img {
			max-width: 125px;
		}
	}
}

.hotel-hours {
	>span {
		display: block;
		padding-left: 30px;
		position: relative;
		text-decoration: underline;

		>span {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}

.hotels-book {
	border: 1px solid $skyblue;
	border-radius: 3px;
	padding: 40px 30px 50px;
	margin-bottom: 25px;

	.h4,
	a {
		display: block;
		margin-bottom: 10px;
	}

	.h4 {
		color: $midblue;
		margin-bottom: 20px;
	}

	.uk-button {
		text-align: left;
		padding-left: 40px;

		@include hover {
			span {
				left: 20px;
				right: auto;
			}
		}
	}
}

.hotels-info {
	padding-left: 30px;

	.h6 {
		display: block;
		margin-bottom: 10px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;

		li {
			color: $grey;
			position: relative;
			padding: 0 25px;
			margin-bottom: 5px;

			span {
				display: inline-block;
				width: 20px;
				height: 20px;
				background: $green-light;
				border-radius: 50px;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);

				svg {
					color: $white;
					width: 14px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					position: absolute;
				}
			}
		}
	}
	@media (max-width: $breakpointSmall) {
		.uk-icon {
			display: none;
		}
	}
}
