.listing {
	background: $lightblue;
	border-top: 2px solid $softblue;
	padding: 80px 0 100px;

	>.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}

	@media (max-width: $breakpointSmall) {
		padding: 60px 0;

		>.uk-container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.listing-filter {
	li {
		padding: 0 35px 0 5px;

		button {
			color: $black;
			font-size: 20px;
			display: inline-block;
			padding: 25px 0;
			border-bottom: 6px solid transparent;
			transition: $nbSec ease-in-out;

			@include hover {
				border-bottom: 6px solid $midblue;
				text-decoration: none;
			}
		}
	}
}

.listing-item {
	padding: 5px;

	.uk-button {
		padding: 0 35px 0 10px;
		border: 0;
		font-size: 12px;
		margin-bottom: 10px;
		min-width: 130px;
		text-align: center;
	}

	.icon-stacorrect-symbol {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	@media (max-width: $breakpointSmall) {
		padding: 5px 0;
	}
}

.listing-item__inner {
	min-height: 365px;
	position: relative;

	a {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}
}

.listing-item-bottom {
	width: calc(100%);
	position: absolute;
	left: 0;
	bottom: 1px;
	background: rgba($black, .7);
	padding: 10px 20px 5px;
	min-height: 85px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 0;

	>span:first-of-type {
		color: $white;
		display: block;
		font-size: 22px;
		font-weight: $semi-bold;
	}
}

.listing-item-bottom--active {
	animation: goTop .1s linear forwards;
}

.listing-item__text {
	display: none;
	padding: 10px 10px 0;

	p {
		color: $white;
		font-weight: $light;
		font-size: 16px;
	}
}

@keyframes goTop {
	0% {
		top: 50%;
	}

	100% {
		top: 0;
	}
}
