.listing {
    background: $lightblue;
	border-top: 2px solid $lightblue;
	padding: 80px 0 100px;
    >.uk-container {
		padding-left: 35px;
		padding-right: 35px;
	}
	@media (max-width: $breakpointSmall) {
        padding: 60px 0;
		>.uk-container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.listing-filter {
    li {
        padding: 0 35px 0 5px;
        a {
            color: $black;
            font-size: 20px;
            display: inline-block;
            padding: 25px 0;
            border-bottom: 5px solid transparent;
            transition: $nbSec ease-in-out;
            @include hover {
                border-bottom: 5px solid $midblue;
                text-decoration: none;
            }
        }
    }
}

.listing-item {
    padding: 5px;
    .uk-button {
        padding: 0 10px;
        border: 0;
    }
    @media (max-width: $breakpointSmall) {
        padding: 5px 0;
    }
}

.listing-item__inner {
	min-height: 365px;
	position: relative;
	a {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}
}

.listing-item-bottom {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba($black, .7);
	z-index: 2;
	padding: 10px 20px 5px;
	min-height: 100px;
	// pointer-events: none;
	>span:first-of-type {
		color: $white;
		display: block;
		font-size: 22px;
		font-weight: $semi-bold;
	}
}

.listing-item__text {
	height: 0;
	padding: 10px; 
	opacity: 0;

	p {
		color: $white;
		font-weight: $light;
		font-size: 16px;
	}
}