//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
	// @include media-breakpoint-up(lg) {
	// 	&:focus {
	// 		outline: 1px dashed rgba($orange, .2);
	// 	}
	// }
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.btn {
	background-color: $black;
	color: $white;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	transition: 0.4s ease-out;

	@include hover {
		background-color: lighten($black, 30%);
		border-radius: 20px;
	}
}

.uk-button {
	background: $midblue;
	border: 4px solid transparent;
	border-radius: 50px;
	position: relative;
	color: $white;
	cursor: pointer;
	font-weight: $semi-bold;
	font-size: 14px;
	padding: 5px 45px 5px 25px;
	text-transform: uppercase;
	transition: $nbSec ease-in-out;
	text-align: left;

	.uk-icon {
		position: absolute;
		top: 50%;
		color: $white;
		right: 15px;
		transform: translateY(-50%);
		transition: $nbSec ease-in-out;
		z-index: 1;
	}

	@include hover {
		background: rgba($midblue, .8);
		color: $white;

		.uk-icon {
			color: $white;
		}
	}

	@media (max-width: $breakpointLarge) {
		font-size: 12px;
		padding: 5px 40px 5px 15px;
		.uk-icon {
			right: 5px;
		}
	}

	@media (max-width: $breakpointMedium) {
		padding: 5px 31px 5px 15px;
	}
}

.uk-button--green {
	background: $green;

	@include hover {
		background: rgba($green, .7);
		color: $white;

		svg {
			color: $white;
		}
	}
}

.uk-button--white {
	background: $white;
	border: 4px solid $skyblue;
	color: $blue;
	position: relative;

	svg {
		color: $skyblue;
	}

	@include hover {
		background: $overlayblue;
		color: $blue;

		svg {
			color: $black;
		}
	}
}

.social-btn {
	width: 40px;
	height: 40px;
	border: 3px solid $midblue;
	background: $white;
	border-radius: 50px;
	position: relative;
	display: inline-block;
	margin-right: 5px;

	svg {
		color: $midblue;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.social-btn--twitter {
	border: 3px solid $twitter-blue;

	svg {
		color: $twitter-blue;
	}
}

.social-btn--mail {
	border: 3px solid $icon-grey;

	svg {
		color: $icon-grey;
	}
}
